@media (max-width: 1200px)
    .promo
        background-position: 20% 0
        &__wrapper
            align-items: center

@media (max-width: 991px)
    .container
        max-width: 720px
    .promo
        padding-bottom: 50px
    .advantages
        padding: 60px 0 75px 0
        &__descr
            margin-top: 28px
        &__text
            margin-top: 22px

@media (max-width: 767px)
    .container
        max-width: 540px
    .header
        &__official
            display: none
        &__phone
            font-size: 16px
    .promo
        min-height: 600px
        &__wrapper
            margin-top: 60px
        &__header
            font-size: 40px
        &__subheader
            font-size: 22px
        &__icons
            margin-top: 45px
    .button
        &_main
            margin-top: 55px
    .advantages
        padding: 50px 0 70px
        &__icons
            margin-top: 36px
            flex-direction: column
        &__icon
            margin-top: 10px
            width: 100%
            &:first-child
                margin-top: 0
        &__descr
            width: 396px
            margin-top: 10px   
        &__text
            margin-top: 14px 
    .title
        font-size: 28px

@media (max-width: 575px)
    .container
        max-width: none
        width: 100%
        padding-left: 15px
        padding-right: 15px
    .header
        &__logo
            width: 190px;
    .promo
        min-height: 500px
        padding: 10px 0 36px 0
        &__wrapper
            margin-top: 50px
        &__header
            font-size: 32px
        &__subheader
            margin-top: 8px
            font-size: 16px
        &__icons
            width: 370px
            margin-top: 30px
        &__icon
            font-size: 12px
            img
                width: 50%
        &__link
            margin-top: 6px
            font-size: 14px
    .button
        &_main
            width: 250px
            height: 45px
            margin-top: 30px
            font-size: 14px
    .advantages
        padding: 30px 0 40px
        &__icons
            margin-top: 22px
        &__descr
            width: 300px
        &__title
            font-size: 16px
        &__text
            margin-top: 8px
            font-size: 13px
    .title
        font-size: 24px

@media (max-width: 409px)
    .header
        &__logo
            width: 155px
        &__phone
            font-size: 12px
        &__contacts
            .button
                width: 120px
                font-size: 10px
    .promo
        min-height: 450px
        &__wrapper
            margin-top: 25px
        &__header
            font-size: 24px
        &__subheader
            font-size: 14px
        &__icons
            width: 290px
        &__icon
            font-size: 10px
            img
                margin-bottom: 10px
        &__link
            font-size: 12px
    .button
        &_main
            width: 200px
            height: 38px
            font-size: 12px
    .title
        font-size: 16px
    .advantages
        &__icons
            margin-top: 10px
        &__icon
            img
                width: 60px
                height: 60px
        &__descr
            width: 210px
        &__title
            font-size: 14px
        &__text
            display: none
            &_short
                display: block