@media (max-width: 1200px)
    .promo
        background-position: 20% 0
        &__wrapper
            align-items: center
    .carousel
        width: 720px
        margin: 0 auto
        &__inner
            width: 720px
            img
                width: 100%
        .prev
            left: -77px
        .next
            right: -77px

@media (max-width: 991px)
    .container
        max-width: 720px
    .promo
        padding-bottom: 50px
    .advantages
        padding: 60px 0 75px 0
        &__descr
            margin-top: 28px
        &__text
            margin-top: 22px
    .consultation
        padding: 85px 0 80px 0
        &__descr
            margin-top: 60px
            text-align: center
        .feedback-form
            margin: 20px auto 0 
    .title
        &_left
            text-align: center
    .carousel
        padding: 65px 0
        width: 540px
        margin: 0 auto
        &__inner
            width: 540px

@media (max-width: 767px)
    .container
        max-width: 540px
    .header
        &__official
            display: none
        &__phone
            font-size: 16px
    .promo
        min-height: 600px
        &__wrapper
            margin-top: 60px
        &__header
            font-size: 40px
        &__subheader
            font-size: 22px
        &__icons
            margin-top: 45px
    .button
        &_main
            margin-top: 55px
    .advantages
        padding: 50px 0 70px
        &__icons
            margin-top: 36px
            flex-direction: column
        &__icon
            margin-top: 10px
            width: 100%
            &:first-child
                margin-top: 0
        &__descr
            width: 396px
            margin-top: 10px   
        &__text
            margin-top: 14px 
    .consultation
        min-height: 600px
        padding: 65px 0 60px 0
        &__descr
            margin-top: 40px
            font-size: 18px
    .title
        font-size: 28px
    .carousel
        width: 430px
        margin: 0 auto
        &__inner
            width: 430px
@media (max-width: 575px)
    .container
        max-width: none
        width: 100%
        padding-left: 15px
        padding-right: 15px
    .header
        &__logo
            width: 190px;
    .promo
        min-height: 500px
        padding: 10px 0 36px 0
        &__wrapper
            margin-top: 50px
        &__header
            font-size: 32px
        &__subheader
            margin-top: 8px
            font-size: 16px
        &__icons
            width: 370px
            margin-top: 30px
        &__icon
            font-size: 12px
            img
                width: 40%
        &__link
            margin-top: 6px
            font-size: 14px
    .button
        &_main
            width: 270px
            height: 50px
            margin-top: 30px
            font-size: 14px
    .advantages
        padding: 30px 0 40px
        &__icons
            margin-top: 22px
        &__descr
            width: 300px
        &__title
            font-size: 16px
        &__text
            margin-top: 8px
            font-size: 13px
    .consultation
        min-height: 500px
        padding: 45px 0 40px 0
        &__descr
            margin-top: 20px
            font-size: 16px
    .title
        font-size: 24px
    .carousel
        padding: 40px 0
        width: 340px
        margin: 0 auto
        &__inner
            width: 340px
            img
                width: 290px
        .prev
            left: -20px
            img
                width: 21px
        .next
            right: -20px
            img
                width: 21px

@media (max-width: 380px)
    .header
        &__logo
            width: 155px
        &__phone
            font-size: 12px
        &__contacts
            .button
                width: 120px
                font-size: 10px
    .promo
        min-height: 450px
        &__wrapper
            margin-top: 25px
        &__header
            font-size: 24px
        &__subheader
            font-size: 13px
        &__icons
            width: 290px
        &__icon
            font-size: 10px
            img
                width: 35%
                margin-bottom: 10px
        &__link
            font-size: 12px
    .button
        &_main
            width: 220px
            height: 45px
    .title
        font-size: 16px
    .advantages
        &__icons
            margin-top: 10px
        &__icon
            img
                width: 60px
                height: 60px
        &__descr
            width: 210px
        &__title
            font-size: 14px
        &__text
            display: none
            &_short
                display: block
    .consultation
        min-height: 400px
        padding: 25px 0 20px 0
        &__descr
            font-size: 14px
        .feedback-form
            width: 270px
            input
                height: 45px
            .button_submit
                height: 50px
    .carousel
        width: 290px
        margin: 0 auto
        &__inner
            width: 300px
            img
                width: 230px
        .prev
            left: -15px
            img
                width: 21px
        .next
            right: -15px
            img
                width: 21px